<div>
  <form [formGroup]="userForm" (submit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" />

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" formControlName="apellido" />

    <label for="email">Email:</label>
    <input type="text" id="email" formControlName="email" />

    @if (isEmailInvalid) {
    <div class="alert alert-danger">Error con el email</div>
    }

    <button type="submit">Crear Usuario</button>
  </form>
</div>
